{
  "presets": [
    ["env", {
      "targets": {
        node: 4
      },
      "useBuiltIns": true
    }]
  ],
  "plugins": [
    ["transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
  ]
}
