export VOLTA_HOME="$PWD/.volta"
PATH_add "$VOLTA_HOME/bin"

if ! [ -f "$VOLTA_HOME/bin/volta" ]; then
  echo "Volta not found in $VOLTA_HOME/bin/volta, installing..."
  curl https://get.volta.sh/ | bash
fi

# Allow you to run jest and other things in node_modules/.bin without npx.
layout node