node_modules
lib

# Only the top-level of the monorepo should govern package locks,
# not the individual package directories. (Keep in mind that currently
# `npm install` should not be run within the `packages/*` directories.)
packages/*/package-lock.json

# Visual Studio Code workspace settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store

lerna-debug.log

packages/apollo-vscode/server
packages/apollo-vscode/webview-content
packages/vscode-apollo/server
packages/vscode-apollo/webview-content
**/*.vsix

.env
