.variables-input {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.variables-input .codemirrorWrap {
  flex: 1;
  display: flex;
}

.variables-input .codemirrorWrap .CodeMirror {
  max-height: 100%;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.result-window {
  height: 100vh;
}

.result-window .CodeMirror {
  height: 100%;
}
